# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
sample/google-oauthhttp/client_secret/client_secret.json
sample/google-calendar/setting.json
sample/google-calendar/client_secret/client_secret.json
